In [ ]:
n = 3
m = 5

print(n==m)     
print(n>m)
print(n<=m)
print(n!=m)

False
False
True
True

In [ ]:
if n==m:
  print("두 값이 같습니다.")
else:
  print("두 값이 다릅니다.")

if n<=m:
  print("n이 m보다 작거나 같습니다.")
elif n%3==0:
  print("n은 3의 배수입니다.")
else:
  print("마지막 else.")

두 값이 다릅니다.
n은 3의 배수입니다.

In [ ]:
x = [1,2,3]

if 3 in x:
  print("리스트에 3이 있습니다.")

if 5 not in [3,2,1]:
  print("리스트에 5가 없습니다.")

리스트에 3이 있습니다.
리스트에 5가 없습니다.

In [ ]:
n = 3
y = {1,2,3}

while n>0:
  print(n)
  n=n-1

while 3 in y:
  print('3이 세트 y에 있습니다.')
  y.remove(3)

3
2
1
3이 세트 y에 있습니다.

In [ ]:
x = [1,2,3,4,5]
z = []

for n in x:
  z.append(n**2)

print(z)

[1, 4, 9, 16, 25]

In [ ]:
x = [3,5]
z = []

for n in x:
  z.append(n**2)

print(z)

[9, 25]

In [ ]:
x = [1,2,3,4,5]
z = [a**2 for a in x]

print(z)

[1, 4, 9, 16, 25]